*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}


body{
    font-family: 'Source Sans Pro', sans-serif;
}

#particles-js canvas {
    display: flex;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}
#particles-js {
    width: 100%;
    height: 200%;
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    background-color: #000000;
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

@media screen and (min-width: 700px){
    header{
        display: flex;
        height: 15vh;
        margin: auto;
        align-items: center;
    }
    
    .logo-container,.nav-links{
        display: flex;
    }
    
    .logo{
        color: #ffffff;
        font-weight: 400;
        margin : 40px;
        margin-left: unset;
        font-size: 22px;
        font-weight: bold;    
    }
    
    .logo-container{
        margin-left: 20px;
        padding-top: 20px;
        flex: 1;
    }
    
    nav{
        flex: 2;
    }
    
    .nav-links{
        justify-content: space-around;
        list-style: none;
    }
    
    .nav-link{
        list-style: none;
        font-size: 20px;
        text-decoration: none;
        transition: 0.5s;
    }
    
    .nav-link .cfg{
        display: block;
        position: relative;
        text-decoration: none;
        padding: 5px;
        color: #fff;
        text-transform: uppercase;
        transition: 0.5s;
    }
    
    .nav-links:hover .nav-link .cfg{
        transform: scale(1.5);
        opacity: .2;
        filter: blur(5px);
    }
    
    .nav-links .nav-link .cfg:hover{
        transform: scale(2);
        opacity: .5;
        filter: blur(0);
    }
    
    .nav-links .nav-link .cfg:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: none;
        transition: transform(0.5s);
        transform-origin: right;
        transform: scale(1);
        z-index: -1;
    }
    
    .nav-links .nav-link .cfg:hover:before{
        transition: transform(0.5s);
        transform-origin: right;
        transform: scaleX(1);
    }
    .cfg:-webkit-any-link {
        color: #3489db;
        cursor: pointer;
        text-decoration: none;
        text-decoration-line: none;
        text-decoration-style: initial;
        text-decoration-color: initial;
    }
    .closebtn{
        display: none;
    }
}
.intro-text{
   
    color: #fff;
    margin-top: 17%;
    font-size: 60px;
    text-align: center;
}

.btn{
    text-align: center;
    text-decoration-line: none;
}

.btt{
    border: 1px solid #3489db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.select-get{
    color: #3489db; 
}
.select-get:hover{
    color:#fff;
}
.btt::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3489db;
    z-index: -1;
    transition: 0.8s;
}

.select-get::before{
    bottom: 0;
    border-radius: 50% 50% 50% 50%;
}

.select-get:hover::before{
    height: 180%;
}

.text-btn{
    color: #fff;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

.bot-intro{
    color: #fff;
    margin-top: 42%;
    text-align: center;
    font-size: 70px;
}
.text-intro{
    color: #fff;
    text-align:center;
    font-size: 44px;
    margin-left: 10%;
    margin-right: 10%;
    
}
.coppyright{
    color: #fff;
    margin-top: 25%;
    text-align: center;
}
.contact-coppyright{
    color: #fff;
    margin-top: 20%;
    text-align: center;
}

.readme{
    color: #fff;
    text-align: center;
    font-size: 70px;
    margin-top: 10%;
}

.contact-title{
    margin-top: 5%;
    color: #fff;
    text-align: center;
    font-size: 60px;
}

.contact-text{
    color: #fff;
    margin-top: 3%;
    text-align: left;
    font-size: 45px;
    margin-left: 18%;
}

.logo-contact{
    justify-content: space-around;
    margin: 4%;
    text-align: center;
}

.logo-config{
    margin-right: 5%;
    margin-left: 5%;
}

@media screen and (max-width: 1024px){
    header {
        height: 10vh;
    }
    .intro-text{
        margin-top: 40%;
    }
    .bot-intro{
        margin-top: 115%;
    }
    .text-intro{
        font-size: 35px;
    }
    .contact-title{
        margin-top: 32%;
    }
    .contact-text{
        font-size: 40px;
        margin-left: 15%;
    }
    .coppyright{
        margin-top: 55%;
    }
    .contact-coppyright{
        margin-top: 50%;
    }
}
@media screen and (max-width: 768px){
    .bot-intro{
        margin-top: 105%;
    }
    .coppyright{
        margin-top: 49%;
    }
    .contact-title{
        margin-top: 25%;
    }
    .contact-text{
        font-size: 30px;
        margin-left: 12%;
    }
    .contact-coppyright{
        margin-top: 55%;
    }
}
@media screen and (max-width: 700px){
    header{
        padding-top: 20px;
    }
    .logo-container{
        display: flex;
    }
    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        text-align:center;
    }
    .sidebar a{
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      
     }
    ul li:hover a{
        padding-left: 25px;
        color: #f1f1f1;
    }
    .sidebar ul a i{
        margin-right: 16px;
    }
    .sidebar .closebtn{
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
    .cfg{
        text-decoration: none;
    }
    .logo{
        color: #fff;
        font-weight: 500;
        margin : 30px;
        margin-left: -20px;
        font-size: 30px;
        font-weight: bold; 
    }
    .intro-text{
        font-size: 35px;
        margin-top: 60%;
    }
    .bot-intro{
        font-size: 45px;
        margin-top: 170%;
    }
    .text-intro{
        font-size: 25px;
    }
    .coppyright{
        margin-top: 75%;
    }
}